<h1>Dashboard</h1>
<center>
	<a href="../play" id="start_game">Start Game</a>
</center>
<!--
<h4>Invite Players through mail</h4>
<input id="email" name="email" placeholder="Enter emails seperated by commas..." style="width:25%" />
-->